.form{
    width: 50%;
    margin: 0 auto;
    margin-top: 200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    border: 1px solid rgb(107, 106, 106);
    border-radius: 15px;

    & input, textarea, button{
        width: 100%;
        font-size: 20px;
        padding: 10px;
        outline: none;

        &::placeholder{
            color: rgb(172, 172, 172);
        }

    }
    
}